.ccMenu {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  width: 300px;
  padding: 12px;
  background-color: white;
  box-shadow: rgba(47, 84, 235, 0.12) 0px 6px 12px;
  z-index: 9999;
}

.ccMenuCloseBtn {
  position: absolute;
  top: 3px;
  right: 6px;
}
