.myTitle {
  text-align: center;
}

.cc_openMenuBtn {
  position: fixed;
  top: 4px;
  right: 4px;
  z-index: 8888;
}

.cc_emitBtn {
  position: fixed;
  top: 4px;
  right: 124px;
  z-index: 8888;
  border: 1px solid red;
}

.cc_homeContent {
  padding: 60px;
}
